<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class = "terminal">
    your assigned job is {{jobinp}}
    <br>
    <br>
    <br>

    <table>
      <div class = "title">
      <tr>
          <td>Job Class</td>
          <td>Percentage</td>
      </tr>
    </div>

      {% for i in twat %}
      <tr>
        {% for x in i %}
        <!-- yeah i tried making some proper css for this but this hack looks better -->
        <!-- ¯\_(ツ)_/¯ -->
          <td>{{ x }}&nbsp &nbsp &nbsp</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    </div>
  </body>
</html>
